# Allowlist for tinyproxy
# One regex per line

# After making changes run the following to refresh:
# sudo docker compose restart proxy


# Examples
# --------------------------------------------------
# ^example\.com$        | Exact domain
# ^api\.example\.com$   | Exact subdomain
# ^(.*\.)?example\.com$ | Domain and all subdomains


# Allowed
# --------------------------------------------------

# Needed for Claude to run
^api\.anthropic\.com$
^platform\.claude\.com$

# Whitelist